<h1>Coupon Details</h1>

<section>
  ID: <%= @coupon.id %><br />
  Name: <%= @coupon.name %><br />
  Code: <%= @coupon.code %><br />
  Status: <%= @coupon.enabled_status %><br />
  Percent Off: -<%= @coupon.percent_off %>%<br />
  Created: <%= @coupon.created_at %><br />
  Last Updated: <%= @coupon.updated_at %>
</section>
