<h1>Cart</h1>

<% unless @items.empty? %>
  <nav id="page-actions">
    <%= link_to "Empty Cart", "/cart", method: :delete %>
    <% if !current_user %>
      Ye scurvy rascal! Surely ye must <%= link_to 'register', '/register' %> or <%= link_to 'log in', '/login' %> to finish the checkout process!
    <% else %>
      <%= link_to "Checkout", "/orders/new" %>
    <% end %>
  </nav>

  <%= render partial: '/partials/cart_contents', locals: { cart_view: true } %>

<% else %>
  <h2>Cart is currently empty</h2>
<% end %>
