<h1>Cart</h1>

<% unless @items.empty? %>
  <nav id="page-actions">
    <%= link_to "Empty Cart", "/cart", method: :delete %>
  </nav>

  <table class="cart-items">
    <tr>
      <th>Item</th>
      <th>Sold By</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <% @items.each do |item,quantity| %>
      <tr id="item-<%=item.id%>">
        <td>
          <%= image_tag item.image, id: 'cart-image' %>
          <%= link_to item.name, "/items/#{item.id}" %>
        </td>
        <td><%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%></td>
        <% if @coupon && @coupon.merchant_id == item.merchant_id %>
          <td class='item-price'>
            <del><%= number_to_currency(item.price) %></del>
            <%= number_to_currency(item.discounted_price(@coupon.percent_off)) %> (-<%= @coupon.percent_off %>%)
          </td>
        <% else %>
          <td class='item-price'><%= number_to_currency(item.price) %></td>
        <% end %>
        <td id="item-<%=item.id%>-quantity">
            <p>
              <%= link_to '-', "/cart?increment_decrement=decrement&item_id=#{item.id}", method: :patch %>
              <%= quantity %>
              <%= link_to '+', "/cart?increment_decrement=increment&item_id=#{item.id}", method: :patch %>
            </p>
            <%= link_to "Remove", "/cart/#{item.id}",method: :delete %>
        </td>
        <td class="item-subtotal"><%= number_to_currency(cart.subtotal(item)) %></td>
      </tr>
    <% end %>
  </table>

  <section id="cart-controls">
    <h2>Total: <%= number_to_currency(cart.total) %></h2>
    <% if @coupon %>
      <h2 id='discounted_total'>Discounted Total: <%= number_to_currency(cart.discounted_total) %></h2>
      <p>
        Applied Coupon: <%= @coupon.name %><br />
        Discount: <%= @coupon.percent_off %>% off items from <%= @coupon.merchant.name %>
      </p>
    <% end %>
    <% if !current_user %>
      <p>Ye scurvy rascal! Surely ye must <%= link_to 'register', '/register' %> or <%= link_to 'log in', '/login' %> to finish the checkout process!</p>
    <% else %>
      <p><%= link_to "Checkout", "/orders/new" %></p>
    <% end %>
  </section>
<% else %>
  <h2>Cart is currently empty</h2>
<% end %>
