<h1>Admin Dashboard</h1>

<% unless @orders.packaged.empty? %>
  <h2>Packaged Orders Ready to Ship</h2>
  <table id="packaged-orders">
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>User</th>
      <th>Action</th>
    </tr>
    <% @orders.packaged.each do |order| %>
      <tr id="packaged-order-<%= order.id %>">
        <td><%= link_to order.id, "/admin/users/#{order.user.id}/orders/#{order.id}" %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></td>
        <td><%= button_to 'Ship', "/orders/#{order.id}?status=2", method: :patch %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>All Orders</h2>
<%= render partial: '/partials/orders_index', locals: { orders: @orders } %>
