<section>
  <p>E-mail: <%= @user.email%></p>
  <p><%= "Address: #{@user.address} #{@user.city}, #{@user.state} #{@user.zip}"%></p>

  <% unless current_admin? %>
    <%= link_to "Update Profile", "/profile/edit" %>
    <%= link_to "Update Password", "/profile/edit_password" %>
  <% end %>

  <p><%= link_to 'Orders', "/profile/orders" %></p>
</section>
