<h1>Order: <%= @order.id %></h1>

<p>Status: <%= @order.status %></p>
<p>Order for: <%= @order.name %></p>
<p>Date Created: <%= @order.created_at %></p>
<p>Date Updated: <%= @order.updated_at %></p>

<h2>Items:</h2>
<ol>
  <% @order.item_orders.each do |item_order| %>
    <li>
      <h3><%= item_order.item.name %></h3>
      <%= image_tag item_order.item.image %>
      <p>Description: <%= item_order.item.description %></p>
      <p>Item Price: <%= item_order.price %></p>
      <p>Item Qty: <%= item_order.quantity %></p>
      <p>Item Subtotal: <%= item_order.subtotal %></p>
    </li>
    <br>
  <% end %>
</ol>
  <br><br>

<h3>Total Item Qty: <%= @order.total_quantity %></h3>
<h3>Order Grandtotal: <%= @order.grandtotal %></h3>
