<section>
  <h2>Arrrgghhh. Ahoy <%= current_user.name %></h2>
  <p>E-mail: <%= current_user.email%></p>
  <p><%= "Address: #{current_user.address} #{current_user.city}, #{current_user.state} #{current_user.zip}"%></p>
  <%= link_to "Update Profile", "/profile/edit" %>
  <br>
  <p><%= link_to 'Orders', "/profile/orders" %></p>

</section>
