<h1 align = "center">Order</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='item-<%= item.id%>'>
      <td class='item-name'><%= link_to item.name, "/items/#{item.id}" %></td>
      <td class='item-price'><%= number_to_currency(item.price) %></td>
      <td class='item-quantity'><%= quantity %></td>
      <td class='item-subtotal'><%= number_to_currency(cart.subtotal(item)) %></td>
      <td class='item-merchant'><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %></td>
      <td class='item-inventory'><%= item.inventory %> in stock</td>
    </tr>
  <% end %>
</table>

<h2 id='total'>Total: <%= number_to_currency(cart.total)%></h2>

<% if @coupon %>
  <h2 id='discounted_total'>Discounted Total: <%= number_to_currency(cart.discounted_total) %></h2>
  <section>
    <p>
      Applied Coupon: <%= @coupon.name %>
      Discount: <%= @coupon.percent_off %>% off items from <%= @coupon.merchant.name %>
    </p>
  </section>
<% end %>

<%= form_tag '/coupon' do %>
  <%= label_tag :code, 'Coupon Code' %>
  <%= text_field_tag :code %>
  <%= submit_tag 'Add Coupon' %>
<% end %>


<%= form_tag "/users/#{current_user.id}/orders", method: :post do %>
  <h2>Enter Your Shipping Info:</h2>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :address %>
  <%= text_field_tag :address %>

  <%= label_tag :city %>
  <%= text_field_tag :city %>

  <%= label_tag :state %>
  <%= text_field_tag :state %>

  <%= label_tag :zip %>
  <%= text_field_tag :zip %>

  <%= submit_tag 'Create Order' %>
<% end %>
