<h1>Checkout</h1>

<%= render partial: '/partials/cart_contents', locals: { cart_view: false } %>

<%= form_tag '/coupon' do %>
  <%= label_tag :code, 'Coupon Code' %>
  <%= text_field_tag :code %>
  <%= submit_tag 'Add Coupon' %>
<% end %>

<%= form_tag "/users/#{current_user.id}/orders", method: :post do %>
  <h2>Enter Your Shipping Info:</h2>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :address %>
  <%= text_field_tag :address %>

  <%= label_tag :city %>
  <%= text_field_tag :city %>

  <%= label_tag :state %>
  <%= text_field_tag :state %>

  <%= label_tag :zip %>
  <%= text_field_tag :zip %>

  <%= submit_tag 'Create Order' %>
<% end %>
