<h1 align = "center">Merchants</h1>

<nav id="page-actions">
  <%= link_to "New Merchant", "/merchants/new" %>
</nav>

<section class="invisible-flex-row">
  <% @merchants.each do |merchant|%>
    <section id="merchant-<%= merchant.id %>">
      <h2><%= link_to merchant.name, "admin/merchants/#{merchant.id}" %></h2>
      <p><%= merchant.city %>, <%= merchant.state %></p>
        <% if merchant.disabled %>
          <%= button_to 'Enable', "/admin/merchants/#{merchant.id}/enable", method: :patch, id: 'inline-form', form: { id: 'inline-form' } %>
        <% else %>
          <%= button_to 'Disable', "/admin/merchants/#{merchant.id}/disable", method: :patch, id: 'inline-form', form: { id: 'inline-form' } %>
        <% end %>
    </section>
  <% end %>
</section>
