<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id="merchant-<%= merchant.id %>">
      <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      <% if current_admin? && !merchant.disabled %>
        <%= button_to 'Disable', "/admin/merchants/#{merchant.id}/disable", method: :patch %>
      <% elsif current_admin? && merchant.disabled %>
        <%= button_to 'Enable', "/admin/merchants/#{merchant.id}/enable", method: :patch %>
      <% end %>
    </section>
  <% end %>
</section>
