<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id="merchant-<%= merchant.id %>">
      <% if current_admin? %>
      <h2><%= link_to merchant.name, "admin/merchants/#{merchant.id}" %></h2>
      <p><%= merchant.city %>, <%= merchant.state %></p>
        <% if merchant.disabled %>
          <%= button_to 'Enable', "/admin/merchants/#{merchant.id}/enable", method: :patch %>
        <% else %>
          <%= button_to 'Disable', "/admin/merchants/#{merchant.id}/disable", method: :patch %>
        <% end %>
      <% else %>
        <h2><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
      <% end %>
    </section>
  <% end %>
</section>
