<h1><%= @merchant.name %></h1>

<nav id='page-actions'>
  <%= link_to "All Items", "/merchants/#{@merchant.id}/items" %>
</nav>


<section class='flex-row'>
  <div>
    <h2>Merchant Details</h2>
    <p><%= @merchant.address %></p>
    <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
  </div>
  <div class="merchant-stats">
    <h2>Merchant Statistics</h2>
    <p>Number of Items: <%=@merchant.item_count%></p>
    <% if @merchant.item_count > 0 %>
      <p>Average Price of Items: <%=number_to_currency( @merchant.average_item_price)%></p>
    <% end %>
  </div>
  <div class = "distinct-cities">
    <h2>Cities Ordering From This Merchant</h2>
    <% @merchant.distinct_cities.each do |city| %>
      <p><%= city %></p>
    <% end %>
  </div>
</section>
