<h1>Edit <%=link_to @item.name, "/merchant/items" %></h1>

<%= form_for @item, url: merchant_item_edit_path(@item) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image, 'Thumbnail Image URL' %>
  <%= f.text_field :image %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :inventory, 'Current Inventory Count' %>
  <%= f.text_field :inventory %>
  <%= f.submit %>
<% end %>
