<h1>Order Details for Order #<%= @order.id %></h1>

<section>
  <h2>Customer Name: <%= @order.name %></h2>
  <p>Address: <%= @order.address %> <%= @order.city %>, <%= @order.state %> <%= @order.zip %></p>
</section>

<section>
  <h2>Items Ordered</h2>
  <% @order.item_orders.each do |item_order| %>
    <% unless item_order.item.merchant_id != current_user.merchant_id %>
      <section id="item-<%= item_order.item.id %>">
        <h3><%= link_to item_order.item.name, "/merchant/items/#{item_order.item.id}" %></h3>
        <%= image_tag item_order.item.image %>
        <p>Price: <%= number_to_currency(item_order.item.price) %></p>
        <p>Quantity: <%= item_order.quantity %></p>
        <% if !item_order.fulfilled && item_order.not_enough %>
          <p>Insufficient Inventory - Cannot Fulfill</p>
        <% elsif !item_order.fulfilled %>
          <%= button_to 'Fulfill Order', "/merchant/item_orders/#{item_order.id}", method: :patch %>
        <% else %>
          <p>Order Fulfilled</p>
        <% end %>
      </section>
    <% end %>
  <% end %>
</section>
