<h1><%= @item.name %></h1>

<nav id="page-actions">
  <%= link_to "Add Review", "/items/#{@item.id}/reviews/new" %>
  <% unless cart.limit_reached?(@item.id) || current_admin? %>
    <%= link_to "Add To Cart", "/cart/#{@item.id}", method: :post %>
  <% end %>
</nav>

<%= render partial: '/partials/items_index', locals: { items: [@item], merchant_view: false } %>

<section class="review-stats flex-row">
  <%if @item.reviews.empty? %>
    <h2>This item has not yet been reviewed.</h2>
  <% else %>
  <div id="average-rating">
    <h2>Average Rating: <%= @item.average_review %></h2>
  </div>
  <div class="top-three-reviews">
    <h2>Top 3 Reviews</h2>
    <% @item.sorted_reviews(3, :desc).each do |review| %>
      <p><%= "#{review.rating}/5--#{review.title}" %></p>
    <% end %>
  </div>
  <div class="bottom-three-reviews">
    <h2>Bottom 3 Reviews</h2>
    <% @item.sorted_reviews(3, :asc).each do |review| %>
      <p><%= "#{review.rating}/5--#{review.title}" %></p>
    <% end %>
  </div>
  <% end %>
</section>

<h2>All Reviews</h2>
<section class="list-reviews flex-row">
  <% @item.reviews.each do |review| %>
    <div id= 'review-<%=review.id%>'>
      <p>Title: <%= review.title %></p>
      <p>"<%= review.content %>"<br /></p>
      <p>Rating: <%= review.rating %>/5</p>
      <p>
        <%= link_to "Edit", "/reviews/#{review.id}/edit" %>
        <%= link_to "Delete", "/reviews/#{review.id}", method: :delete %>
      </p>
    </div>
  <% end %>
</section>
