<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Treasure Trove", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>

      <% if current_admin? %>
        <%= link_to "Users", "/admin/users" %>
        <%= link_to "Dashboard", "/admin" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
        <div>Logged in as <%= current_user.name %></div>

      <% elsif current_merchant? %>
        <%= link_to "Dashboard", "/merchant" %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
        <div>Logged in as <%= current_user.name %></div>

      <% elsif current_user %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout", method: :delete %>
        <div>Logged in as <%= current_user.name %></div>

      <% else %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Register", "/register" %>
        <%= link_to "Login", "/login" %>
      <% end %>

    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
